@import "tailwindcss";
@import 'lenis/dist/lenis.css';

@theme {
    --font-special: "Roobert", Arial, sans-serif;

    --color-theme-pink: oklch(0.82 0.0852 1.34);
    --color-theme-rosewood: oklch(0.55 0.0538 355.7);
    --color-theme-charcoal: oklch(0.18 0.0188 274.65);
    --color-theme-cream: oklch(0.93 0.0529 97.92);
    --color-theme-light: oklch(0.96 0 0);
}

@font-face {
    font-family: "Roobert";
    src: url("/fonts/Roobert Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

html,
body {
    font-family: var(--font-special), sans-serif;
    background-color: var(--color-theme-charcoal);
    color: var(--color-theme-light);
}

.noise-overlay {
    background-image: url('/noise.avif');
    background-repeat: repeat;
    background-size: 200px;
    animation: noiseMove 0.5s steps(1) infinite;
}

@keyframes noiseMove {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 10% 5%;
    }
    50% {
        background-position: 0 10%;
    }
    75% {
        background-position: -10% -5%;
    }
    100% {
        background-position: 0 0;
    }
}

