---
import {Picture} from "astro:assets";
import heroImage from "../../../assets/images/hero.png";
---

<section class="flex flex-col items-center justify-center pt-16 pb-8 md:pt-12 md:pb-60">
    <div class="grid grid-cols-2 grid-rows-1 gap-4 max-w-7xl px-5 mt-8">
        <div>
            <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
                Donde hay caos, creamos equilibrio.
            </h1>
            <p class="text-lg mt-4 text-slate-600 ">
                Katharsis es un software de gestión de inventario diseñado para transformar el desorden en eficiencia.
                Desarrollado con un enfoque en la personalización, Katharsis se adapta a las necesidades específicas de
                cada negocio, ofreciendo una solución flexible, intuitiva y potente para el control total de
                inventarios.
            </p>
        </div>
        <div></div>
    </div>

</section>