---
import "@/styles/global.css"

import Container from "@/components/ui/layout/Container.astro";
import Footer from "@/components/home/footer/Footer.astro";
import Navbar from "../components/home/header/Navbar.astro";

const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<main class="font-family-primary">
    <Container>
        <Navbar/>
        <slot/>
    </Container>
    <Footer/>
</main>
</body>
</html>