---
import Container from "../../ui/layout/Container.astro";
const word = "Katharsis";
const repeatCount = 20;
const words = Array.from({length: repeatCount}).map(() => word);
---

<footer>
    <div class="overflow-hidden py-4">
        <div class="flex w-max animate-marquee whitespace-nowrap text-black text-[200px] font-bold">
            {
                words.map((word) => (
                  <span class="mx-8">{word}</span>
                ))
            }
        </div>
    </div>
    <div>
        <Container class="py-8">

            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="text-center md:text-left">
                    <p class="text-sm text-gray-500">
                        © 2025 Katharsis. Todos los derechos reservados.
                    </p>
                </div>
                <div class="flex gap-4 mt-4 md:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900">Política de privacidad</a>
                    <a href="#" class="text-gray-500 hover:text-gray-900">Términos de servicio</a>
                </div>
            </div>
        </Container>
    </div>
</footer>

<style>
    .animate-marquee {
        animation: marquee 40s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>
