---
import Layout from "../layouts/Layout.astro";
import Container from "../components/ui/layout/Container.astro";
---

<Layout title="Not Found - Katharsis">
    <section class="relative min-h-screen w-full overflow-hidden bg-black">

    </section>
</Layout>


<style>

</style>